<head>
	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<script src="questions.js" type="text/javascript"></script>
	<script src="scripts.js" type="text/javascript"></script>
	<script src="debounce.min.js" type="text/javascript"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
	<img id="cursor" src="cursor.png">
	<div class="full-screen">
		<div class="question-container">
			<!-- header -->
			<div class="header">
				<h1>Scuola Guida</h1>
			</div>
			<!-- home -->
			<div class="body home">
				<div class="content">
					<!-- ICI BREVE PRESENTATION --> 
					<center><img src="dmv.png" class="logo"><br><p class="bold-text">Benenuto a Scuola Guida</center>
					<br><center>Richiediamo a tutti i nostri cittadini di sottoporsi a una prova teorica prima di ottenere una patente di guida validia.<br>Prenditi il tuo tempo, e rispondi con buon senso, Non usare ipotesi Fortunate.<br><br></center>
					Test Teorico<br>
					- il test scritto costa $200 dollari, non ci sono rimborsi se il test viene fallito.<br>					
					- Non ti preoccupare, il DMV center consentirà i prestiti, fai attenzione a non cadere in grandi debiti!<br>
					- Se fallisci il test una volta, non puoi riprovare il test subito, dovrai tornare un'altro giorno e riprovare! <br><br> 
					Test Pratico<br>
					- Il test pratico costa $500 dollari, come prima, non ci sono rimborsi se il test viene fallito.<br>
					- Il punto focale del test è l'attenzione ai dettagli, Concentrati </p>
				</div>
				<div class="buttonspot">
				<a href="#" class="button btnQuestion">Inizia</a>
				</div>
				<div class ="barre-progression" >
					<h2>Progress</h2>
					<progress class="progression" value="0" max="10" >
				</div>
			</div>
			<!-- Question-->
			<div class="body questionnaire-container">
				<div class="content">
					<h2 id="questionNumero"></h2>
					<p id="question"></p>
					<form class="form" id="question-form">
						<div>
							<input type="radio" name="question" id="answerA" value="A">
							<label class="answerA"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerB" value="B">
							<label class="answerB"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerC" value="C">
							<label class="answerC"></label>
						</div>		
						<div>
							<input type="radio" name="question" id="answerD" value="D">
							<label class="answerD"></label>
						</div>
	              		<button type="submit" id="submit" class="submit">Prossima Domanda</button>
	          		</form>
				</div>
				<div class ="barre-progression">
					<h2>Progress</h2>
					<progress class="progression" value="0" max="10" >
				</div>
			</div>
			<!-- Résults -->
			<div class="body resultGood">
				<div class="content">
					<center><p class="bold-text">Ottimo lavoro !</p><br><br>Sei stato molto bravo durante il test!<br><br>Ora puoi chiudere questa finestra e procedere nel assumere la patente di guida.</center>
				</div>
				<div class="buttonspot">
				<a href="#" class="button btnClose">Chiudi</a>
				</div>
				<div class ="barre-progression" >
					<h2>Progress</h2>
					<progress class="progression" value="10" max="10" >
				</div>
			</div>
			<div class="body resultBad">
				<div class="content">
					<center><p class="bold-text">Tu hai Fallito l'esame!</p><br><br>Non Sei ancora pronto Per questo Test!, Riprova domani...<br><br></center>
				</div>
				<div class="buttonspot">
				<a href="#" class="button btnKick">Chiudi</a>
				</div>
				<div class ="barre-progression" >
					<h2>Progress</h2>
					<progress class="progression" value="10" max="10" >
				</div>
			</div>
		</div>
	</div>
</body>



					