body {
  font-size: 20px
}

.phone_infoBare {
  height: 24px
}

.phone_app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column
}

.phone_title {
  padding-left: 24px;
  padding-top: 6px;
  height: 64px;
  line-height: 52px;
  font-size: 24px;
  font-weight: 500
}

.phone_content {
  height: 100%;
  overflow-y: auto
}

.phone_wrapper {
  bottom: 0;
  right: 0;
  background-size: cover
}

.phone_coque,
.phone_wrapper {
  position: absolute;
  width: 500px;
  height: 1000px
}

.phone_coque {
  z-index: 999
}

.phone_screen {
  overflow: hidden;
  position: absolute;
  background-color: #fff;
  bottom: 100px;
  left: 50px;
  right: 50px;
  top: 100px;
  display: flex
}

* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #f5f5f5
}

::-webkit-scrollbar {
  width: 3px;
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  background-color: #666
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
  font-family: FontAwesome;
  src: url(/html/static/fonts/fontawesome-webfont.eot);
  src: url(/html/static/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"), url(/html/static/fonts/fontawesome-webfont.woff2) format("woff2"), url(/html/static/fonts/fontawesome-webfont.woff) format("woff"), url(/html/static/fonts/fontawesome-webfont.ttf) format("truetype"), url(/html/static/img/fontawesome-webfont.svg#fontawesomeregular) format("svg");
  font-weight: 400;
  font-style: normal
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%
}

.fa-2x {
  font-size: 2em
}

.fa-3x {
  font-size: 3em
}

.fa-4x {
  font-size: 4em
}

.fa-5x {
  font-size: 5em
}

.fa-fw {
  width: 1.28571429em;
  text-align: center
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none
}

.fa-ul>li {
  position: relative
}

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: .14285714em;
  text-align: center
}

.fa-li.fa-lg {
  left: -1.85714286em
}

.fa-border {
  padding: .2em .25em .15em;
  border: .08em solid #eee;
  border-radius: .1em
}

.fa-pull-left {
  float: left
}

.fa-pull-right {
  float: right
}

.fa.fa-pull-left {
  margin-right: .3em
}

.fa.fa-pull-right {
  margin-left: .3em
}

.pull-right {
  float: right
}

.pull-left {
  float: left
}

.fa.pull-left {
  margin-right: .3em
}

.fa.pull-right {
  margin-left: .3em
}

.fa-spin {
  animation: fa-spin 2s infinite linear
}

.fa-pulse {
  animation: fa-spin 1s infinite steps(8)
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(359deg)
  }
}

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  transform: rotate(90deg)
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  transform: rotate(180deg)
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  transform: rotate(270deg)
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  transform: scaleX(-1)
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  transform: scaleY(-1)
}

:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270 {
  filter: none
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle
}

.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center
}

.fa-stack-1x {
  line-height: inherit
}

.fa-stack-2x {
  font-size: 2em
}

.fa-inverse {
  color: #fff
}

.fa-glass:before {
  content: "\F000"
}

.fa-music:before {
  content: "\F001"
}

.fa-search:before {
  content: "\F002"
}

.fa-envelope-o:before {
  content: "\F003"
}

.fa-heart:before {
  content: "\F004"
}

.fa-star:before {
  content: "\F005"
}

.fa-star-o:before {
  content: "\F006"
}

.fa-user:before {
  content: "\F007"
}

.fa-film:before {
  content: "\F008"
}

.fa-th-large:before {
  content: "\F009"
}

.fa-th:before {
  content: "\F00A"
}

.fa-th-list:before {
  content: "\F00B"
}

.fa-check:before {
  content: "\F00C"
}

.fa-close:before,
.fa-remove:before,
.fa-times:before {
  content: "\F00D"
}

.fa-search-plus:before {
  content: "\F00E"
}

.fa-search-minus:before {
  content: "\F010"
}

.fa-power-off:before {
  content: "\F011"
}

.fa-signal:before {
  content: "\F012"
}

.fa-cog:before,
.fa-gear:before {
  content: "\F013"
}

.fa-trash-o:before {
  content: "\F014"
}

.fa-home:before {
  content: "\F015"
}

.fa-file-o:before {
  content: "\F016"
}

.fa-clock-o:before {
  content: "\F017"
}

.fa-road:before {
  content: "\F018"
}

.fa-download:before {
  content: "\F019"
}

.fa-arrow-circle-o-down:before {
  content: "\F01A"
}

.fa-arrow-circle-o-up:before {
  content: "\F01B"
}

.fa-inbox:before {
  content: "\F01C"
}

.fa-play-circle-o:before {
  content: "\F01D"
}

.fa-repeat:before,
.fa-rotate-right:before {
  content: "\F01E"
}

.fa-refresh:before {
  content: "\F021"
}

.fa-list-alt:before {
  content: "\F022"
}

.fa-lock:before {
  content: "\F023"
}

.fa-flag:before {
  content: "\F024"
}

.fa-headphones:before {
  content: "\F025"
}

.fa-volume-off:before {
  content: "\F026"
}

.fa-volume-down:before {
  content: "\F027"
}

.fa-volume-up:before {
  content: "\F028"
}

.fa-qrcode:before {
  content: "\F029"
}

.fa-barcode:before {
  content: "\F02A"
}

.fa-tag:before {
  content: "\F02B"
}

.fa-tags:before {
  content: "\F02C"
}

.fa-book:before {
  content: "\F02D"
}

.fa-bookmark:before {
  content: "\F02E"
}

.fa-print:before {
  content: "\F02F"
}

.fa-camera:before {
  content: "\F030"
}

.fa-font:before {
  content: "\F031"
}

.fa-bold:before {
  content: "\F032"
}

.fa-italic:before {
  content: "\F033"
}

.fa-text-height:before {
  content: "\F034"
}

.fa-text-width:before {
  content: "\F035"
}

.fa-align-left:before {
  content: "\F036"
}

.fa-align-center:before {
  content: "\F037"
}

.fa-align-right:before {
  content: "\F038"
}

.fa-align-justify:before {
  content: "\F039"
}

.fa-list:before {
  content: "\F03A"
}

.fa-dedent:before,
.fa-outdent:before {
  content: "\F03B"
}

.fa-indent:before {
  content: "\F03C"
}

.fa-video-camera:before {
  content: "\F03D"
}

.fa-image:before,
.fa-photo:before,
.fa-picture-o:before {
  content: "\F03E"
}

.fa-pencil:before {
  content: "\F040"
}

.fa-map-marker:before {
  content: "\F041"
}

.fa-adjust:before {
  content: "\F042"
}

.fa-tint:before {
  content: "\F043"
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\F044"
}

.fa-share-square-o:before {
  content: "\F045"
}

.fa-check-square-o:before {
  content: "\F046"
}

.fa-arrows:before {
  content: "\F047"
}

.fa-step-backward:before {
  content: "\F048"
}

.fa-fast-backward:before {
  content: "\F049"
}

.fa-backward:before {
  content: "\F04A"
}

.fa-play:before {
  content: "\F04B"
}

.fa-pause:before {
  content: "\F04C"
}

.fa-stop:before {
  content: "\F04D"
}

.fa-forward:before {
  content: "\F04E"
}

.fa-fast-forward:before {
  content: "\F050"
}

.fa-step-forward:before {
  content: "\F051"
}

.fa-eject:before {
  content: "\F052"
}

.fa-chevron-left:before {
  content: "\F053"
}

.fa-chevron-right:before {
  content: "\F054"
}

.fa-plus-circle:before {
  content: "\F055"
}

.fa-minus-circle:before {
  content: "\F056"
}

.fa-times-circle:before {
  content: "\F057"
}

.fa-check-circle:before {
  content: "\F058"
}

.fa-question-circle:before {
  content: "\F059"
}

.fa-info-circle:before {
  content: "\F05A"
}

.fa-crosshairs:before {
  content: "\F05B"
}

.fa-times-circle-o:before {
  content: "\F05C"
}

.fa-check-circle-o:before {
  content: "\F05D"
}

.fa-ban:before {
  content: "\F05E"
}

.fa-arrow-left:before {
  content: "\F060"
}

.fa-arrow-right:before {
  content: "\F061"
}

.fa-arrow-up:before {
  content: "\F062"
}

.fa-arrow-down:before {
  content: "\F063"
}

.fa-mail-forward:before,
.fa-share:before {
  content: "\F064"
}

.fa-expand:before {
  content: "\F065"
}

.fa-compress:before {
  content: "\F066"
}

.fa-plus:before {
  content: "\F067"
}

.fa-minus:before {
  content: "\F068"
}

.fa-asterisk:before {
  content: "\F069"
}

.fa-exclamation-circle:before {
  content: "\F06A"
}

.fa-gift:before {
  content: "\F06B"
}

.fa-leaf:before {
  content: "\F06C"
}

.fa-fire:before {
  content: "\F06D"
}

.fa-eye:before {
  content: "\F06E"
}

.fa-eye-slash:before {
  content: "\F070"
}

.fa-exclamation-triangle:before,
.fa-warning:before {
  content: "\F071"
}

.fa-plane:before {
  content: "\F072"
}

.fa-calendar:before {
  content: "\F073"
}

.fa-random:before {
  content: "\F074"
}

.fa-comment:before {
  content: "\F075"
}

.fa-magnet:before {
  content: "\F076"
}

.fa-chevron-up:before {
  content: "\F077"
}

.fa-chevron-down:before {
  content: "\F078"
}

.fa-retweet:before {
  content: "\F079"
}

.fa-shopping-cart:before {
  content: "\F07A"
}

.fa-folder:before {
  content: "\F07B"
}

.fa-folder-open:before {
  content: "\F07C"
}

.fa-arrows-v:before {
  content: "\F07D"
}

.fa-arrows-h:before {
  content: "\F07E"
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\F080"
}

.fa-twitter-square:before {
  content: "\F081"
}

.fa-facebook-square:before {
  content: "\F082"
}

.fa-camera-retro:before {
  content: "\F083"
}

.fa-key:before {
  content: "\F084"
}

.fa-cogs:before,
.fa-gears:before {
  content: "\F085"
}

.fa-comments:before {
  content: "\F086"
}

.fa-thumbs-o-up:before {
  content: "\F087"
}

.fa-thumbs-o-down:before {
  content: "\F088"
}

.fa-star-half:before {
  content: "\F089"
}

.fa-heart-o:before {
  content: "\F08A"
}

.fa-sign-out:before {
  content: "\F08B"
}

.fa-linkedin-square:before {
  content: "\F08C"
}

.fa-thumb-tack:before {
  content: "\F08D"
}

.fa-external-link:before {
  content: "\F08E"
}

.fa-sign-in:before {
  content: "\F090"
}

.fa-trophy:before {
  content: "\F091"
}

.fa-github-square:before {
  content: "\F092"
}

.fa-upload:before {
  content: "\F093"
}

.fa-lemon-o:before {
  content: "\F094"
}

.fa-phone:before {
  content: "\F095"
}

.fa-square-o:before {
  content: "\F096"
}

.fa-bookmark-o:before {
  content: "\F097"
}

.fa-phone-square:before {
  content: "\F098"
}

.fa-twitter:before {
  content: "\F099"
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "\F09A"
}

.fa-github:before {
  content: "\F09B"
}

.fa-unlock:before {
  content: "\F09C"
}

.fa-credit-card:before {
  content: "\F09D"
}

.fa-feed:before,
.fa-rss:before {
  content: "\F09E"
}

.fa-hdd-o:before {
  content: "\F0A0"
}

.fa-bullhorn:before {
  content: "\F0A1"
}

.fa-bell:before {
  content: "\F0F3"
}

.fa-certificate:before {
  content: "\F0A3"
}

.fa-hand-o-right:before {
  content: "\F0A4"
}

.fa-hand-o-left:before {
  content: "\F0A5"
}

.fa-hand-o-up:before {
  content: "\F0A6"
}

.fa-hand-o-down:before {
  content: "\F0A7"
}

.fa-arrow-circle-left:before {
  content: "\F0A8"
}

.fa-arrow-circle-right:before {
  content: "\F0A9"
}

.fa-arrow-circle-up:before {
  content: "\F0AA"
}

.fa-arrow-circle-down:before {
  content: "\F0AB"
}

.fa-globe:before {
  content: "\F0AC"
}

.fa-wrench:before {
  content: "\F0AD"
}

.fa-tasks:before {
  content: "\F0AE"
}

.fa-filter:before {
  content: "\F0B0"
}

.fa-briefcase:before {
  content: "\F0B1"
}

.fa-arrows-alt:before {
  content: "\F0B2"
}

.fa-group:before,
.fa-users:before {
  content: "\F0C0"
}

.fa-chain:before,
.fa-link:before {
  content: "\F0C1"
}

.fa-cloud:before {
  content: "\F0C2"
}

.fa-flask:before {
  content: "\F0C3"
}

.fa-cut:before,
.fa-scissors:before {
  content: "\F0C4"
}

.fa-copy:before,
.fa-files-o:before {
  content: "\F0C5"
}

.fa-paperclip:before {
  content: "\F0C6"
}

.fa-floppy-o:before,
.fa-save:before {
  content: "\F0C7"
}

.fa-square:before {
  content: "\F0C8"
}

.fa-bars:before,
.fa-navicon:before,
.fa-reorder:before {
  content: "\F0C9"
}

.fa-list-ul:before {
  content: "\F0CA"
}

.fa-list-ol:before {
  content: "\F0CB"
}

.fa-strikethrough:before {
  content: "\F0CC"
}

.fa-underline:before {
  content: "\F0CD"
}

.fa-table:before {
  content: "\F0CE"
}

.fa-magic:before {
  content: "\F0D0"
}

.fa-truck:before {
  content: "\F0D1"
}

.fa-pinterest:before {
  content: "\F0D2"
}

.fa-pinterest-square:before {
  content: "\F0D3"
}

.fa-google-plus-square:before {
  content: "\F0D4"
}

.fa-google-plus:before {
  content: "\F0D5"
}

.fa-money:before {
  content: "\F0D6"
}

.fa-caret-down:before {
  content: "\F0D7"
}

.fa-caret-up:before {
  content: "\F0D8"
}

.fa-caret-left:before {
  content: "\F0D9"
}

.fa-caret-right:before {
  content: "\F0DA"
}

.fa-columns:before {
  content: "\F0DB"
}

.fa-sort:before,
.fa-unsorted:before {
  content: "\F0DC"
}

.fa-sort-desc:before,
.fa-sort-down:before {
  content: "\F0DD"
}

.fa-sort-asc:before,
.fa-sort-up:before {
  content: "\F0DE"
}

.fa-envelope:before {
  content: "\F0E0"
}

.fa-linkedin:before {
  content: "\F0E1"
}

.fa-rotate-left:before,
.fa-undo:before {
  content: "\F0E2"
}

.fa-gavel:before,
.fa-legal:before {
  content: "\F0E3"
}

.fa-dashboard:before,
.fa-tachometer:before {
  content: "\F0E4"
}

.fa-comment-o:before {
  content: "\F0E5"
}

.fa-comments-o:before {
  content: "\F0E6"
}

.fa-bolt:before,
.fa-flash:before {
  content: "\F0E7"
}

.fa-sitemap:before {
  content: "\F0E8"
}

.fa-umbrella:before {
  content: "\F0E9"
}

.fa-clipboard:before,
.fa-paste:before {
  content: "\F0EA"
}

.fa-lightbulb-o:before {
  content: "\F0EB"
}

.fa-exchange:before {
  content: "\F0EC"
}

.fa-cloud-download:before {
  content: "\F0ED"
}

.fa-cloud-upload:before {
  content: "\F0EE"
}

.fa-user-md:before {
  content: "\F0F0"
}

.fa-stethoscope:before {
  content: "\F0F1"
}

.fa-suitcase:before {
  content: "\F0F2"
}

.fa-bell-o:before {
  content: "\F0A2"
}

.fa-coffee:before {
  content: "\F0F4"
}

.fa-cutlery:before {
  content: "\F0F5"
}

.fa-file-text-o:before {
  content: "\F0F6"
}

.fa-building-o:before {
  content: "\F0F7"
}

.fa-hospital-o:before {
  content: "\F0F8"
}

.fa-ambulance:before {
  content: "\F0F9"
}

.fa-medkit:before {
  content: "\F0FA"
}

.fa-fighter-jet:before {
  content: "\F0FB"
}

.fa-beer:before {
  content: "\F0FC"
}

.fa-h-square:before {
  content: "\F0FD"
}

.fa-plus-square:before {
  content: "\F0FE"
}

.fa-angle-double-left:before {
  content: "\F100"
}

.fa-angle-double-right:before {
  content: "\F101"
}

.fa-angle-double-up:before {
  content: "\F102"
}

.fa-angle-double-down:before {
  content: "\F103"
}

.fa-angle-left:before {
  content: "\F104"
}

.fa-angle-right:before {
  content: "\F105"
}

.fa-angle-up:before {
  content: "\F106"
}

.fa-angle-down:before {
  content: "\F107"
}

.fa-desktop:before {
  content: "\F108"
}

.fa-laptop:before {
  content: "\F109"
}

.fa-tablet:before {
  content: "\F10A"
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\F10B"
}

.fa-circle-o:before {
  content: "\F10C"
}

.fa-quote-left:before {
  content: "\F10D"
}

.fa-quote-right:before {
  content: "\F10E"
}

.fa-spinner:before {
  content: "\F110"
}

.fa-circle:before {
  content: "\F111"
}

.fa-mail-reply:before,
.fa-reply:before {
  content: "\F112"
}

.fa-github-alt:before {
  content: "\F113"
}

.fa-folder-o:before {
  content: "\F114"
}

.fa-folder-open-o:before {
  content: "\F115"
}

.fa-smile-o:before {
  content: "\F118"
}

.fa-frown-o:before {
  content: "\F119"
}

.fa-meh-o:before {
  content: "\F11A"
}

.fa-gamepad:before {
  content: "\F11B"
}

.fa-keyboard-o:before {
  content: "\F11C"
}

.fa-flag-o:before {
  content: "\F11D"
}

.fa-flag-checkered:before {
  content: "\F11E"
}

.fa-terminal:before {
  content: "\F120"
}

.fa-code:before {
  content: "\F121"
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\F122"
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\F123"
}

.fa-location-arrow:before {
  content: "\F124"
}

.fa-crop:before {
  content: "\F125"
}

.fa-code-fork:before {
  content: "\F126"
}

.fa-chain-broken:before,
.fa-unlink:before {
  content: "\F127"
}

.fa-question:before {
  content: "\F128"
}

.fa-info:before {
  content: "\F129"
}

.fa-exclamation:before {
  content: "\F12A"
}

.fa-superscript:before {
  content: "\F12B"
}

.fa-subscript:before {
  content: "\F12C"
}

.fa-eraser:before {
  content: "\F12D"
}

.fa-puzzle-piece:before {
  content: "\F12E"
}

.fa-microphone:before {
  content: "\F130"
}

.fa-microphone-slash:before {
  content: "\F131"
}

.fa-shield:before {
  content: "\F132"
}

.fa-calendar-o:before {
  content: "\F133"
}

.fa-fire-extinguisher:before {
  content: "\F134"
}

.fa-rocket:before {
  content: "\F135"
}

.fa-maxcdn:before {
  content: "\F136"
}

.fa-chevron-circle-left:before {
  content: "\F137"
}

.fa-chevron-circle-right:before {
  content: "\F138"
}

.fa-chevron-circle-up:before {
  content: "\F139"
}

.fa-chevron-circle-down:before {
  content: "\F13A"
}

.fa-html5:before {
  content: "\F13B"
}

.fa-css3:before {
  content: "\F13C"
}

.fa-anchor:before {
  content: "\F13D"
}

.fa-unlock-alt:before {
  content: "\F13E"
}

.fa-bullseye:before {
  content: "\F140"
}

.fa-ellipsis-h:before {
  content: "\F141"
}

.fa-ellipsis-v:before {
  content: "\F142"
}

.fa-rss-square:before {
  content: "\F143"
}

.fa-play-circle:before {
  content: "\F144"
}

.fa-ticket:before {
  content: "\F145"
}

.fa-minus-square:before {
  content: "\F146"
}

.fa-minus-square-o:before {
  content: "\F147"
}

.fa-level-up:before {
  content: "\F148"
}

.fa-level-down:before {
  content: "\F149"
}

.fa-check-square:before {
  content: "\F14A"
}

.fa-pencil-square:before {
  content: "\F14B"
}

.fa-external-link-square:before {
  content: "\F14C"
}

.fa-share-square:before {
  content: "\F14D"
}

.fa-compass:before {
  content: "\F14E"
}

.fa-caret-square-o-down:before,
.fa-toggle-down:before {
  content: "\F150"
}

.fa-caret-square-o-up:before,
.fa-toggle-up:before {
  content: "\F151"
}

.fa-caret-square-o-right:before,
.fa-toggle-right:before {
  content: "\F152"
}

.fa-eur:before,
.fa-euro:before {
  content: "\F153"
}

.fa-gbp:before {
  content: "\F154"
}

.fa-dollar:before,
.fa-usd:before {
  content: "\F155"
}

.fa-inr:before,
.fa-rupee:before {
  content: "\F156"
}

.fa-cny:before,
.fa-jpy:before,
.fa-rmb:before,
.fa-yen:before {
  content: "\F157"
}

.fa-rouble:before,
.fa-rub:before,
.fa-ruble:before {
  content: "\F158"
}

.fa-krw:before,
.fa-won:before {
  content: "\F159"
}

.fa-bitcoin:before,
.fa-btc:before {
  content: "\F15A"
}

.fa-file:before {
  content: "\F15B"
}

.fa-file-text:before {
  content: "\F15C"
}

.fa-sort-alpha-asc:before {
  content: "\F15D"
}

.fa-sort-alpha-desc:before {
  content: "\F15E"
}

.fa-sort-amount-asc:before {
  content: "\F160"
}

.fa-sort-amount-desc:before {
  content: "\F161"
}

.fa-sort-numeric-asc:before {
  content: "\F162"
}

.fa-sort-numeric-desc:before {
  content: "\F163"
}

.fa-thumbs-up:before {
  content: "\F164"
}

.fa-thumbs-down:before {
  content: "\F165"
}

.fa-youtube-square:before {
  content: "\F166"
}

.fa-youtube:before {
  content: "\F167"
}

.fa-xing:before {
  content: "\F168"
}

.fa-xing-square:before {
  content: "\F169"
}

.fa-youtube-play:before {
  content: "\F16A"
}

.fa-dropbox:before {
  content: "\F16B"
}

.fa-stack-overflow:before {
  content: "\F16C"
}

.fa-instagram:before {
  content: "\F16D"
}

.fa-flickr:before {
  content: "\F16E"
}

.fa-adn:before {
  content: "\F170"
}

.fa-bitbucket:before {
  content: "\F171"
}

.fa-bitbucket-square:before {
  content: "\F172"
}

.fa-tumblr:before {
  content: "\F173"
}

.fa-tumblr-square:before {
  content: "\F174"
}

.fa-long-arrow-down:before {
  content: "\F175"
}

.fa-long-arrow-up:before {
  content: "\F176"
}

.fa-long-arrow-left:before {
  content: "\F177"
}

.fa-long-arrow-right:before {
  content: "\F178"
}

.fa-apple:before {
  content: "\F179"
}

.fa-windows:before {
  content: "\F17A"
}

.fa-android:before {
  content: "\F17B"
}

.fa-linux:before {
  content: "\F17C"
}

.fa-dribbble:before {
  content: "\F17D"
}

.fa-skype:before {
  content: "\F17E"
}

.fa-foursquare:before {
  content: "\F180"
}

.fa-trello:before {
  content: "\F181"
}

.fa-female:before {
  content: "\F182"
}

.fa-male:before {
  content: "\F183"
}

.fa-gittip:before,
.fa-gratipay:before {
  content: "\F184"
}

.fa-sun-o:before {
  content: "\F185"
}

.fa-moon-o:before {
  content: "\F186"
}

.fa-archive:before {
  content: "\F187"
}

.fa-bug:before {
  content: "\F188"
}

.fa-vk:before {
  content: "\F189"
}

.fa-weibo:before {
  content: "\F18A"
}

.fa-renren:before {
  content: "\F18B"
}

.fa-pagelines:before {
  content: "\F18C"
}

.fa-stack-exchange:before {
  content: "\F18D"
}

.fa-arrow-circle-o-right:before {
  content: "\F18E"
}

.fa-arrow-circle-o-left:before {
  content: "\F190"
}

.fa-caret-square-o-left:before,
.fa-toggle-left:before {
  content: "\F191"
}

.fa-dot-circle-o:before {
  content: "\F192"
}

.fa-wheelchair:before {
  content: "\F193"
}

.fa-vimeo-square:before {
  content: "\F194"
}

.fa-try:before,
.fa-turkish-lira:before {
  content: "\F195"
}

.fa-plus-square-o:before {
  content: "\F196"
}

.fa-space-shuttle:before {
  content: "\F197"
}

.fa-slack:before {
  content: "\F198"
}

.fa-envelope-square:before {
  content: "\F199"
}

.fa-wordpress:before {
  content: "\F19A"
}

.fa-openid:before {
  content: "\F19B"
}

.fa-bank:before,
.fa-institution:before,
.fa-university:before {
  content: "\F19C"
}

.fa-graduation-cap:before,
.fa-mortar-board:before {
  content: "\F19D"
}

.fa-yahoo:before {
  content: "\F19E"
}

.fa-google:before {
  content: "\F1A0"
}

.fa-reddit:before {
  content: "\F1A1"
}

.fa-reddit-square:before {
  content: "\F1A2"
}

.fa-stumbleupon-circle:before {
  content: "\F1A3"
}

.fa-stumbleupon:before {
  content: "\F1A4"
}

.fa-delicious:before {
  content: "\F1A5"
}

.fa-digg:before {
  content: "\F1A6"
}

.fa-pied-piper-pp:before {
  content: "\F1A7"
}

.fa-pied-piper-alt:before {
  content: "\F1A8"
}

.fa-drupal:before {
  content: "\F1A9"
}

.fa-joomla:before {
  content: "\F1AA"
}

.fa-language:before {
  content: "\F1AB"
}

.fa-fax:before {
  content: "\F1AC"
}

.fa-building:before {
  content: "\F1AD"
}

.fa-child:before {
  content: "\F1AE"
}

.fa-paw:before {
  content: "\F1B0"
}

.fa-spoon:before {
  content: "\F1B1"
}

.fa-cube:before {
  content: "\F1B2"
}

.fa-cubes:before {
  content: "\F1B3"
}

.fa-behance:before {
  content: "\F1B4"
}

.fa-behance-square:before {
  content: "\F1B5"
}

.fa-steam:before {
  content: "\F1B6"
}

.fa-steam-square:before {
  content: "\F1B7"
}

.fa-recycle:before {
  content: "\F1B8"
}

.fa-automobile:before,
.fa-car:before {
  content: "\F1B9"
}

.fa-cab:before,
.fa-taxi:before {
  content: "\F1BA"
}

.fa-tree:before {
  content: "\F1BB"
}

.fa-spotify:before {
  content: "\F1BC"
}

.fa-deviantart:before {
  content: "\F1BD"
}

.fa-soundcloud:before {
  content: "\F1BE"
}

.fa-database:before {
  content: "\F1C0"
}

.fa-file-pdf-o:before {
  content: "\F1C1"
}

.fa-file-word-o:before {
  content: "\F1C2"
}

.fa-file-excel-o:before {
  content: "\F1C3"
}

.fa-file-powerpoint-o:before {
  content: "\F1C4"
}

.fa-file-image-o:before,
.fa-file-photo-o:before,
.fa-file-picture-o:before {
  content: "\F1C5"
}

.fa-file-archive-o:before,
.fa-file-zip-o:before {
  content: "\F1C6"
}

.fa-file-audio-o:before,
.fa-file-sound-o:before {
  content: "\F1C7"
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\F1C8"
}

.fa-file-code-o:before {
  content: "\F1C9"
}

.fa-vine:before {
  content: "\F1CA"
}

.fa-codepen:before {
  content: "\F1CB"
}

.fa-jsfiddle:before {
  content: "\F1CC"
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-ring:before,
.fa-life-saver:before,
.fa-support:before {
  content: "\F1CD"
}

.fa-circle-o-notch:before {
  content: "\F1CE"
}

.fa-ra:before,
.fa-rebel:before,
.fa-resistance:before {
  content: "\F1D0"
}

.fa-empire:before,
.fa-ge:before {
  content: "\F1D1"
}

.fa-git-square:before {
  content: "\F1D2"
}

.fa-git:before {
  content: "\F1D3"
}

.fa-hacker-news:before,
.fa-y-combinator-square:before,
.fa-yc-square:before {
  content: "\F1D4"
}

.fa-tencent-weibo:before {
  content: "\F1D5"
}

.fa-qq:before {
  content: "\F1D6"
}

.fa-wechat:before,
.fa-weixin:before {
  content: "\F1D7"
}

.fa-paper-plane:before,
.fa-send:before {
  content: "\F1D8"
}

.fa-paper-plane-o:before,
.fa-send-o:before {
  content: "\F1D9"
}

.fa-history:before {
  content: "\F1DA"
}

.fa-circle-thin:before {
  content: "\F1DB"
}

.fa-header:before {
  content: "\F1DC"
}

.fa-paragraph:before {
  content: "\F1DD"
}

.fa-sliders:before {
  content: "\F1DE"
}

.fa-share-alt:before {
  content: "\F1E0"
}

.fa-share-alt-square:before {
  content: "\F1E1"
}

.fa-bomb:before {
  content: "\F1E2"
}

.fa-futbol-o:before,
.fa-soccer-ball-o:before {
  content: "\F1E3"
}

.fa-tty:before {
  content: "\F1E4"
}

.fa-binoculars:before {
  content: "\F1E5"
}

.fa-plug:before {
  content: "\F1E6"
}

.fa-slideshare:before {
  content: "\F1E7"
}

.fa-twitch:before {
  content: "\F1E8"
}

.fa-yelp:before {
  content: "\F1E9"
}

.fa-newspaper-o:before {
  content: "\F1EA"
}

.fa-wifi:before {
  content: "\F1EB"
}

.fa-calculator:before {
  content: "\F1EC"
}

.fa-paypal:before {
  content: "\F1ED"
}

.fa-google-wallet:before {
  content: "\F1EE"
}

.fa-cc-visa:before {
  content: "\F1F0"
}

.fa-cc-mastercard:before {
  content: "\F1F1"
}

.fa-cc-discover:before {
  content: "\F1F2"
}

.fa-cc-amex:before {
  content: "\F1F3"
}

.fa-cc-paypal:before {
  content: "\F1F4"
}

.fa-cc-stripe:before {
  content: "\F1F5"
}

.fa-bell-slash:before {
  content: "\F1F6"
}

.fa-bell-slash-o:before {
  content: "\F1F7"
}

.fa-trash:before {
  content: "\F1F8"
}

.fa-copyright:before {
  content: "\F1F9"
}

.fa-at:before {
  content: "\F1FA"
}

.fa-eyedropper:before {
  content: "\F1FB"
}

.fa-paint-brush:before {
  content: "\F1FC"
}

.fa-birthday-cake:before {
  content: "\F1FD"
}

.fa-area-chart:before {
  content: "\F1FE"
}

.fa-pie-chart:before {
  content: "\F200"
}

.fa-line-chart:before {
  content: "\F201"
}

.fa-lastfm:before {
  content: "\F202"
}

.fa-lastfm-square:before {
  content: "\F203"
}

.fa-toggle-off:before {
  content: "\F204"
}

.fa-toggle-on:before {
  content: "\F205"
}

.fa-bicycle:before {
  content: "\F206"
}

.fa-bus:before {
  content: "\F207"
}

.fa-ioxhost:before {
  content: "\F208"
}

.fa-angellist:before {
  content: "\F209"
}

.fa-cc:before {
  content: "\F20A"
}

.fa-ils:before,
.fa-shekel:before,
.fa-sheqel:before {
  content: "\F20B"
}

.fa-meanpath:before {
  content: "\F20C"
}

.fa-buysellads:before {
  content: "\F20D"
}

.fa-connectdevelop:before {
  content: "\F20E"
}

.fa-dashcube:before {
  content: "\F210"
}

.fa-forumbee:before {
  content: "\F211"
}

.fa-leanpub:before {
  content: "\F212"
}

.fa-sellsy:before {
  content: "\F213"
}

.fa-shirtsinbulk:before {
  content: "\F214"
}

.fa-simplybuilt:before {
  content: "\F215"
}

.fa-skyatlas:before {
  content: "\F216"
}

.fa-cart-plus:before {
  content: "\F217"
}

.fa-cart-arrow-down:before {
  content: "\F218"
}

.fa-diamond:before {
  content: "\F219"
}

.fa-ship:before {
  content: "\F21A"
}

.fa-user-secret:before {
  content: "\F21B"
}

.fa-motorcycle:before {
  content: "\F21C"
}

.fa-street-view:before {
  content: "\F21D"
}

.fa-heartbeat:before {
  content: "\F21E"
}

.fa-venus:before {
  content: "\F221"
}

.fa-mars:before {
  content: "\F222"
}

.fa-mercury:before {
  content: "\F223"
}

.fa-intersex:before,
.fa-transgender:before {
  content: "\F224"
}

.fa-transgender-alt:before {
  content: "\F225"
}

.fa-venus-double:before {
  content: "\F226"
}

.fa-mars-double:before {
  content: "\F227"
}

.fa-venus-mars:before {
  content: "\F228"
}

.fa-mars-stroke:before {
  content: "\F229"
}

.fa-mars-stroke-v:before {
  content: "\F22A"
}

.fa-mars-stroke-h:before {
  content: "\F22B"
}

.fa-neuter:before {
  content: "\F22C"
}

.fa-genderless:before {
  content: "\F22D"
}

.fa-facebook-official:before {
  content: "\F230"
}

.fa-pinterest-p:before {
  content: "\F231"
}

.fa-whatsapp:before {
  content: "\F232"
}

.fa-server:before {
  content: "\F233"
}

.fa-user-plus:before {
  content: "\F234"
}

.fa-user-times:before {
  content: "\F235"
}

.fa-bed:before,
.fa-hotel:before {
  content: "\F236"
}

.fa-viacoin:before {
  content: "\F237"
}

.fa-train:before {
  content: "\F238"
}

.fa-subway:before {
  content: "\F239"
}

.fa-medium:before {
  content: "\F23A"
}

.fa-y-combinator:before,
.fa-yc:before {
  content: "\F23B"
}

.fa-optin-monster:before {
  content: "\F23C"
}

.fa-opencart:before {
  content: "\F23D"
}

.fa-expeditedssl:before {
  content: "\F23E"
}

.fa-battery-4:before,
.fa-battery-full:before,
.fa-battery:before {
  content: "\F240"
}

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\F241"
}

.fa-battery-2:before,
.fa-battery-half:before {
  content: "\F242"
}

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\F243"
}

.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\F244"
}

.fa-mouse-pointer:before {
  content: "\F245"
}

.fa-i-cursor:before {
  content: "\F246"
}

.fa-object-group:before {
  content: "\F247"
}

.fa-object-ungroup:before {
  content: "\F248"
}

.fa-sticky-note:before {
  content: "\F249"
}

.fa-sticky-note-o:before {
  content: "\F24A"
}

.fa-cc-jcb:before {
  content: "\F24B"
}

.fa-cc-diners-club:before {
  content: "\F24C"
}

.fa-clone:before {
  content: "\F24D"
}

.fa-balance-scale:before {
  content: "\F24E"
}

.fa-hourglass-o:before {
  content: "\F250"
}

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\F251"
}

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\F252"
}

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\F253"
}

.fa-hourglass:before {
  content: "\F254"
}

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\F255"
}

.fa-hand-paper-o:before,
.fa-hand-stop-o:before {
  content: "\F256"
}

.fa-hand-scissors-o:before {
  content: "\F257"
}

.fa-hand-lizard-o:before {
  content: "\F258"
}

.fa-hand-spock-o:before {
  content: "\F259"
}

.fa-hand-pointer-o:before {
  content: "\F25A"
}

.fa-hand-peace-o:before {
  content: "\F25B"
}

.fa-trademark:before {
  content: "\F25C"
}

.fa-registered:before {
  content: "\F25D"
}

.fa-creative-commons:before {
  content: "\F25E"
}

.fa-gg:before {
  content: "\F260"
}

.fa-gg-circle:before {
  content: "\F261"
}

.fa-tripadvisor:before {
  content: "\F262"
}

.fa-odnoklassniki:before {
  content: "\F263"
}

.fa-odnoklassniki-square:before {
  content: "\F264"
}

.fa-get-pocket:before {
  content: "\F265"
}

.fa-wikipedia-w:before {
  content: "\F266"
}

.fa-safari:before {
  content: "\F267"
}

.fa-chrome:before {
  content: "\F268"
}

.fa-firefox:before {
  content: "\F269"
}

.fa-opera:before {
  content: "\F26A"
}

.fa-internet-explorer:before {
  content: "\F26B"
}

.fa-television:before,
.fa-tv:before {
  content: "\F26C"
}

.fa-contao:before {
  content: "\F26D"
}

.fa-500px:before {
  content: "\F26E"
}

.fa-amazon:before {
  content: "\F270"
}

.fa-calendar-plus-o:before {
  content: "\F271"
}

.fa-calendar-minus-o:before {
  content: "\F272"
}

.fa-calendar-times-o:before {
  content: "\F273"
}

.fa-calendar-check-o:before {
  content: "\F274"
}

.fa-industry:before {
  content: "\F275"
}

.fa-map-pin:before {
  content: "\F276"
}

.fa-map-signs:before {
  content: "\F277"
}

.fa-map-o:before {
  content: "\F278"
}

.fa-map:before {
  content: "\F279"
}

.fa-commenting:before {
  content: "\F27A"
}

.fa-commenting-o:before {
  content: "\F27B"
}

.fa-houzz:before {
  content: "\F27C"
}

.fa-vimeo:before {
  content: "\F27D"
}

.fa-black-tie:before {
  content: "\F27E"
}

.fa-fonticons:before {
  content: "\F280"
}

.fa-reddit-alien:before {
  content: "\F281"
}

.fa-edge:before {
  content: "\F282"
}

.fa-credit-card-alt:before {
  content: "\F283"
}

.fa-codiepie:before {
  content: "\F284"
}

.fa-modx:before {
  content: "\F285"
}

.fa-fort-awesome:before {
  content: "\F286"
}

.fa-usb:before {
  content: "\F287"
}

.fa-product-hunt:before {
  content: "\F288"
}

.fa-mixcloud:before {
  content: "\F289"
}

.fa-scribd:before {
  content: "\F28A"
}

.fa-pause-circle:before {
  content: "\F28B"
}

.fa-pause-circle-o:before {
  content: "\F28C"
}

.fa-stop-circle:before {
  content: "\F28D"
}

.fa-stop-circle-o:before {
  content: "\F28E"
}

.fa-shopping-bag:before {
  content: "\F290"
}

.fa-shopping-basket:before {
  content: "\F291"
}

.fa-hashtag:before {
  content: "\F292"
}

.fa-bluetooth:before {
  content: "\F293"
}

.fa-bluetooth-b:before {
  content: "\F294"
}

.fa-percent:before {
  content: "\F295"
}

.fa-gitlab:before {
  content: "\F296"
}

.fa-wpbeginner:before {
  content: "\F297"
}

.fa-wpforms:before {
  content: "\F298"
}

.fa-envira:before {
  content: "\F299"
}

.fa-universal-access:before {
  content: "\F29A"
}

.fa-wheelchair-alt:before {
  content: "\F29B"
}

.fa-question-circle-o:before {
  content: "\F29C"
}

.fa-blind:before {
  content: "\F29D"
}

.fa-audio-description:before {
  content: "\F29E"
}

.fa-volume-control-phone:before {
  content: "\F2A0"
}

.fa-braille:before {
  content: "\F2A1"
}

.fa-assistive-listening-systems:before {
  content: "\F2A2"
}

.fa-american-sign-language-interpreting:before,
.fa-asl-interpreting:before {
  content: "\F2A3"
}

.fa-deaf:before,
.fa-deafness:before,
.fa-hard-of-hearing:before {
  content: "\F2A4"
}

.fa-glide:before {
  content: "\F2A5"
}

.fa-glide-g:before {
  content: "\F2A6"
}

.fa-sign-language:before,
.fa-signing:before {
  content: "\F2A7"
}

.fa-low-vision:before {
  content: "\F2A8"
}

.fa-viadeo:before {
  content: "\F2A9"
}

.fa-viadeo-square:before {
  content: "\F2AA"
}

.fa-snapchat:before {
  content: "\F2AB"
}

.fa-snapchat-ghost:before {
  content: "\F2AC"
}

.fa-snapchat-square:before {
  content: "\F2AD"
}

.fa-pied-piper:before {
  content: "\F2AE"
}

.fa-first-order:before {
  content: "\F2B0"
}

.fa-yoast:before {
  content: "\F2B1"
}

.fa-themeisle:before {
  content: "\F2B2"
}

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: "\F2B3"
}

.fa-fa:before,
.fa-font-awesome:before {
  content: "\F2B4"
}

.fa-handshake-o:before {
  content: "\F2B5"
}

.fa-envelope-open:before {
  content: "\F2B6"
}

.fa-envelope-open-o:before {
  content: "\F2B7"
}

.fa-linode:before {
  content: "\F2B8"
}

.fa-address-book:before {
  content: "\F2B9"
}

.fa-address-book-o:before {
  content: "\F2BA"
}

.fa-address-card:before,
.fa-vcard:before {
  content: "\F2BB"
}

.fa-address-card-o:before,
.fa-vcard-o:before {
  content: "\F2BC"
}

.fa-user-circle:before {
  content: "\F2BD"
}

.fa-user-circle-o:before {
  content: "\F2BE"
}

.fa-user-o:before {
  content: "\F2C0"
}

.fa-id-badge:before {
  content: "\F2C1"
}

.fa-drivers-license:before,
.fa-id-card:before {
  content: "\F2C2"
}

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: "\F2C3"
}

.fa-quora:before {
  content: "\F2C4"
}

.fa-free-code-camp:before {
  content: "\F2C5"
}

.fa-telegram:before {
  content: "\F2C6"
}

.fa-thermometer-4:before,
.fa-thermometer-full:before,
.fa-thermometer:before {
  content: "\F2C7"
}

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: "\F2C8"
}

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: "\F2C9"
}

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: "\F2CA"
}

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: "\F2CB"
}

.fa-shower:before {
  content: "\F2CC"
}

.fa-bath:before,
.fa-bathtub:before,
.fa-s15:before {
  content: "\F2CD"
}

.fa-podcast:before {
  content: "\F2CE"
}

.fa-window-maximize:before {
  content: "\F2D0"
}

.fa-window-minimize:before {
  content: "\F2D1"
}

.fa-window-restore:before {
  content: "\F2D2"
}

.fa-times-rectangle:before,
.fa-window-close:before {
  content: "\F2D3"
}

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: "\F2D4"
}

.fa-bandcamp:before {
  content: "\F2D5"
}

.fa-grav:before {
  content: "\F2D6"
}

.fa-etsy:before {
  content: "\F2D7"
}

.fa-imdb:before {
  content: "\F2D8"
}

.fa-ravelry:before {
  content: "\F2D9"
}

.fa-eercast:before {
  content: "\F2DA"
}

.fa-microchip:before {
  content: "\F2DB"
}

.fa-snowflake-o:before {
  content: "\F2DC"
}

.fa-superpowers:before {
  content: "\F2DD"
}

.fa-wpexplorer:before {
  content: "\F2DE"
}

.fa-meetup:before {
  content: "\F2E0"
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto
}

.home[data-v-235696e8] {
  background-size: cover !important;
  background-position: 50% !important;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.warningMess[data-v-235696e8] {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  color: red;
  text-align: center;
  top: 150px;
  font-size: 1.4em;
  text-shadow: -1px 0 0 rgba(0, 0, 0, .8), 1px 0 0 rgba(0, 0, 0, .8), 0 -1px 0 rgba(0, 0, 0, .8), 0 1px 0 rgba(0, 0, 0, .8)
}

.home_buttons[data-v-235696e8] {
  display: -ms-flexbox;
  display: flex;
  padding: 0 16px;
  width: 100%;
  bottom: 1px;
  position: absolute;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-flow: row;
  flex-flow: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0;
  -ms-flex-pack: justify;
  justify-content: space-between;
  transition: all .5s ease-in-out
}

button[data-v-235696e8] {
  position: relative;
  margin: 0;
  border: none;
  width: 80px;
  height: 110px;
  color: #fff;
  background-size: 64px 64px;
  background-position: center 6px;
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 14px;
  padding-top: 72px;
  font-weight: 700;
  text-shadow: -1px 0 0 rgba(0, 0, 0, .8), 1px 0 0 rgba(0, 0, 0, .8), 0 -1px 0 rgba(0, 0, 0, .8), 0 1px 0 rgba(0, 0, 0, .8);
  text-align: center
}

button .puce[data-v-235696e8] {
  position: absolute;
  display: block;
  background-color: #1450b8;
  font-size: 14px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fff;
  bottom: 32px;
  right: 12px
}

button.select[data-v-235696e8] {
  background-color: hsla(0, 0%, 100%, .7);
  border-radius: 12px
}

.btn_menu_ctn[data-v-235696e8] {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center
}

.btn_menu[data-v-235696e8] {
  height: 50px
}

.barre-header[data-v-2804e189] {
  height: 24px;
  font-size: 17px;
  line-height: 24px;
  padding: 0 20px 0 24px;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, .3);
  position: relative
}

.barre-header hr[data-v-2804e189] {
  position: absolute;
  display: inline-block
}

.barre1[data-v-2804e189] {
  height: 12px;
  width: 3px;
  right: 93px;
  background-color: hsla(0, 0%, 100%, .6);
  color: hsla(0, 0%, 100%, .6);
  border: none;
  bottom: -1px
}

.barre2[data-v-2804e189] {
  height: 9px;
  right: 98px
}

.barre2[data-v-2804e189],
.barre3[data-v-2804e189] {
  width: 3px;
  background-color: #fff;
  border: none;
  bottom: -1px
}

.barre3[data-v-2804e189] {
  height: 6px;
  right: 103px
}

.barre4[data-v-2804e189] {
  height: 3px;
  width: 3px;
  right: 108px;
  background-color: #fff;
  border: none;
  bottom: -1px
}

.time[data-v-2804e189] {
  text-align: right;
  float: right;
  padding-right: 12px
}

.batterie1[data-v-2804e189] {
  height: 10px;
  width: 7px;
  right: 78px;
  background-color: #fff;
  color: #fff;
  border-radius: .5px;
  border: none;
  bottom: -1px
}

.batterie2[data-v-2804e189] {
  height: 13px;
  width: 5px;
  right: 79px;
  bottom: 0;
  background-color: hsla(0, 0%, 100%, .6);
  border: .5px solid #fff;
  border-radius: 1px
}

.menu {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 6px 8px
}

.backblur {
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  position: absolute;
  background-size: cover !important;
  background-position: 50% !important;
  -webkit-filter: blur(6px);
  filter: blur(6px)
}

.menu_content {
  -ms-flex-direction: column;
  flex-direction: column
}

.menu_buttons,
.menu_content {
  display: -ms-flexbox;
  display: flex
}

.menu_buttons {
  margin-top: 24px;
  width: 100%;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-flow: row;
  flex-flow: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0;
  transition: all .5s ease-in-out;
  animation-name: up;
  animation-duration: .6s;
  animation-fill-mode: forwards
}

@keyframes up {
  0% {
    transform: translateY(100vh)
  }
  to {
    transform: translateY(0)
  }
}

button {
  position: relative;
  margin: 0;
  border: none;
  width: 80px;
  height: 110px;
  margin: 8px;
  color: #fff;
  background-size: 64px 64px;
  background-position: center 6px;
  background-repeat: no-repeat;
  background-color: transparent;
  padding-top: 72px;
  font-weight: 700;
  text-shadow: -1px 0 0 rgba(0, 0, 0, .8), 1px 0 0 rgba(0, 0, 0, .8), 0 -1px 0 rgba(0, 0, 0, .8), 0 1px 0 rgba(0, 0, 0, .8)
}

button,
button .puce {
  font-size: 14px;
  text-align: center
}

button .puce {
  position: absolute;
  display: block;
  background-color: #1450b8;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  border: 1px solid #fff;
  bottom: 32px;
  right: 12px
}

button.select {
  background-color: hsla(0, 0%, 100%, .7);
  border-radius: 12px
}

.contact[data-v-b3e36314] {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.list[data-v-def349b2] {
  height: 100%
}

.elements[data-v-def349b2] {
  overflow-y: auto
}

.element[data-v-def349b2] {
  height: 58px;
  line-height: 58px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative
}

.element.select[data-v-def349b2] {
  background-color: #ddd
}

.elem-pic[data-v-def349b2] {
  margin-left: 12px;
  height: 48px;
  width: 48px;
  text-align: center;
  line-height: 48px;
  font-weight: 700
}

.elem-puce[data-v-def349b2] {
  background-color: red;
  color: #fff;
  height: 18px;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 42px;
  top: 36px;
  z-index: 6
}

.elem-title[data-v-def349b2] {
  margin-left: 12px
}

.elem-title-has-desc[data-v-def349b2] {
  margin-top: -15px;
  margin-left: 12px
}

.elem-description[data-v-def349b2] {
  text-align: left;
  color: grey;
  position: absolute;
  display: block;
  width: 75%;
  left: 73px;
  top: 12px;
  font-size: 13.5px;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.modal-mask[data-v-6cc9c1b2] {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  transition: opacity .3s ease
}

.modal-container[data-v-6cc9c1b2] {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  padding-bottom: 16px;
  max-height: 100%;
  overflow-y: auto
}

.modal-title[data-v-6cc9c1b2] {
  text-align: center;
  height: 32px;
  line-height: 32px;
  color: #42b2dc;
  border-bottom: 2px solid #42b2dc
}

.modal-choix[data-v-6cc9c1b2] {
  height: 56px;
  line-height: 56px;
  color: gray;
  position: relative;
  font-weight: 400;
  font-size: 22px
}

.modal-choix .fa[data-v-6cc9c1b2] {
  font-size: 18px;
  line-height: 24px;
  margin-left: 12px;
  margin-right: 12px
}

.modal-choix .picto[data-v-6cc9c1b2] {
  z-index: 500;
  position: absolute;
  width: 42px;
  background-size: 100% !important;
  background-position-y: 100%;
  height: 42px
}

.modal-choix.select[data-v-6cc9c1b2] {
  background-color: #e3e3e3;
  color: #42b2dc
}

.contact[data-v-168e4766] {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.title[data-v-168e4766] {
  padding-left: 16px;
  height: 34px;
  line-height: 34px;
  font-weight: 700;
  background-color: #5264ae;
  color: #fff
}

.content[data-v-168e4766] {
  margin: 6px 10px;
  margin-top: 28px
}

.group[data-v-168e4766] {
  position: relative;
  margin-top: 24px
}

.group.inputText[data-v-168e4766] {
  position: relative;
  margin-top: 45px
}

input[data-v-168e4766] {
  font-size: 24px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575
}

input[data-v-168e4766]:focus {
  outline: none
}

label[data-v-168e4766] {
  color: #999;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all .2s ease;
  -moz-transition: .2s ease all;
  -webkit-transition: all .2s ease
}

input:focus~label[data-v-168e4766],
input:valid~label[data-v-168e4766] {
  top: -24px;
  font-size: 18px;
  color: #5264ae
}

.bar[data-v-168e4766] {
  position: relative;
  display: block;
  width: 100%
}

.bar[data-v-168e4766]:after,
.bar[data-v-168e4766]:before {
  content: "";
  height: 3px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: all .2s ease;
  -moz-transition: .2s ease all;
  -webkit-transition: all .2s ease
}

.bar[data-v-168e4766]:before {
  left: 50%
}

.bar[data-v-168e4766]:after {
  right: 50%
}

.group.select input~.bar[data-v-168e4766]:after,
.group.select input~.bar[data-v-168e4766]:before,
input:focus~.bar[data-v-168e4766]:after,
input:focus~.bar[data-v-168e4766]:before {
  width: 50%
}

.highlight[data-v-168e4766] {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: .5
}

input:focus~.highlight[data-v-168e4766] {
  animation: inputHighlighter-data-v-168e4766 .3s ease
}

.group .btn[data-v-168e4766] {
  width: 100%;
  padding: 0;
  height: 48px;
  color: #fff;
  border: 0 none;
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  color: #202129;
  background-color: #edeeee
}

.group.select .btn[data-v-168e4766] {
  line-height: 18px
}

.group .btn.btn-green[data-v-168e4766] {
  border: 1px solid #2ecc7080;
  color: #2ecc70;
  background-color: #fff;
  font-weight: 500;
  border-radius: 10px
}

.group.select .btn.btn-green[data-v-168e4766] {
  background-color: #2ecc70;
  color: #fff;
  border: none
}

.group .btn.btn-orange[data-v-168e4766] {
  border: 1px solid #e67e2280;
  color: #e67e22;
  background-color: #fff;
  font-weight: 500;
  border-radius: 10px
}

.group.select .btn.btn-orange[data-v-168e4766] {
  background-color: #e67e22;
  color: #fff;
  border: none
}

.group .btn.btn-red[data-v-168e4766] {
  border: 1px solid #e74c3c80;
  color: #e74c3c;
  background-color: #fff;
  font-weight: 500;
  border-radius: 10px
}

.group.select .btn.btn-red[data-v-168e4766] {
  background-color: #e74c3c;
  color: #fff;
  border: none
}

@keyframes inputHighlighter-data-v-168e4766 {
  0% {
    background: #5264ae
  }
  to {
    width: 0;
    background: transparent
  }
}

.screen[data-v-55f1ad54] {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.messages[data-v-01104696] {
  position: absolute;
  bottom: 0;
  right: 0;
  height: calc(100% - 20px);
  background-color: #ddd
}

#sms_contact[data-v-01104696] {
  background-color: #4caf50;
  color: #fff;
  height: 34px;
  line-height: 34px;
  padding-left: 5px
}

#sms_list[data-v-01104696] {
  height: calc(100% - 34px - 26px);
  overflow-y: auto;
  padding-bottom: 8px
}

.sms[data-v-01104696] {
  overflow: auto;
  zoom: 1
}

.sms-img[data-v-01104696] {
  width: 100%;
  height: auto
}

.img-fullscreen[data-v-01104696] {
  position: fixed;
  z-index: 999999;
  background-color: hsla(0, 0%, 8%, .8);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center
}

.img-fullscreen img[data-v-01104696] {
  display: -ms-flexbox;
  display: flex;
  max-width: 90vw;
  max-height: 95vh
}

.sms_me[data-v-01104696] {
  float: right;
  background-color: #fff;
  padding: 5px 10px;
  max-width: 90%;
  margin-right: 5%;
  margin-top: 10px
}

.sms_other[data-v-01104696] {
  background-color: #4caf50;
  color: #fff;
  float: left;
  padding: 5px 10px;
  max-width: 90%;
  margin-left: 5%;
  margin-top: 10px
}

.sms_time[data-v-01104696] {
  display: block;
  font-size: 12px
}

.sms_me .sms_time[data-v-01104696] {
  color: #aaa
}

.sms_other .sms_time[data-v-01104696] {
  color: #555
}

.messages[data-v-01104696] {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.sms.select .sms_message[data-v-01104696] {
  background-color: #000 !important;
  color: #d4d4d4 !important
}

.sms.select .sms_message .sms_time[data-v-01104696] {
  background-color: inherit !important
}

.sms_message[data-v-01104696] {
  word-wrap: break-word;
  max-width: 80%;
  font-size: 24px
}

#sms_write[data-v-01104696] {
  height: 56px;
  margin: 10px;
  width: 380px;
  background-color: #fff;
  border-radius: 56px
}

#sms_write input[data-v-01104696] {
  height: 56px;
  border: none;
  outline: none;
  font-size: 18px;
  margin-left: 14px;
  padding: 12px 5px;
  background-color: rgba(236, 236, 241, 0)
}

.sms_send[data-v-01104696] {
  float: right;
  margin-right: 10px
}

.sms_send svg[data-v-01104696] {
  margin: 10px;
  width: 36px;
  height: 36px;
  fill: silver
}

.contact[data-v-d0428988],
.screen[data-v-26ec6c14] {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.title[data-v-26ec6c14] {
  padding-left: 16px;
  height: 34px;
  line-height: 34px;
  font-weight: 700;
  color: #fff;
  background-color: #2c3e50
}

.content[data-v-26ec6c14] {
  height: calc(100% - 68px);
  overflow-y: auto
}

.subMenu[data-v-26ec6c14] {
  border-top: 1px solid rgba(0, 0, 0, .24);
  display: -ms-flexbox;
  display: flex;
  height: 56px
}

.subMenu-elem[data-v-26ec6c14] {
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 56px;
  height: 56px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column
}

.subMenu-elem-select[data-v-26ec6c14] {
  color: #0288d1
}

.subMenu-icon[data-v-26ec6c14] {
  margin-top: 6px;
  font-size: 22px;
  line-height: 22px;
  height: 22px
}

.subMenu-name[data-v-26ec6c14] {
  display: block;
  font-size: 14px;
  height: 14px;
  line-height: 14px
}

.content[data-v-07b6e6d2] {
  height: 100%
}

.elements[data-v-07b6e6d2] {
  overflow-y: auto
}

.element[data-v-07b6e6d2] {
  height: 58px;
  line-height: 58px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 14px 10px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.active.active[data-v-07b6e6d2] {
  background: radial-gradient(rgba(3, 168, 244, .14), rgba(3, 169, 244, .26))
}

.elem-pic[data-v-07b6e6d2] {
  margin-left: 12px;
  height: 48px;
  width: 48px;
  text-align: center;
  line-height: 48px;
  font-weight: 700;
  border-radius: 50%;
  color: #fff
}

.elem-content[data-v-07b6e6d2] {
  margin-left: 12px;
  width: auto;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.elem-content-p[data-v-07b6e6d2] {
  font-size: 20px;
  line-height: 20px
}

.elem-content-s[data-v-07b6e6d2] {
  font-size: 12px;
  line-height: 18px;
  width: 100%;
  display: -ms-flexbox;
  display: flex
}

.elem-histo-pico[data-v-07b6e6d2] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column
}

.elem-histo-pico svg[data-v-07b6e6d2] {
  width: 16px;
  height: 16px
}

.lastCall[data-v-07b6e6d2] {
  padding-left: 4px
}

.elem-icon[data-v-07b6e6d2] {
  width: 28px
}

.backblur[data-v-d2b698c8] {
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  position: absolute;
  background-size: cover !important;
  -webkit-filter: blur(6px);
  filter: blur(6px)
}

.num[data-v-d2b698c8] {
  top: 60px;
  color: hsla(0, 0%, 100%, .9);
  font-size: 46px
}

.contactName[data-v-d2b698c8],
.num[data-v-d2b698c8] {
  position: absolute;
  text-shadow: 0 0 15px #000, 0 0 15px #000;
  left: 0;
  right: 0;
  text-align: center
}

.contactName[data-v-d2b698c8] {
  top: 100px;
  color: hsla(0, 0%, 100%, .8);
  margin-top: 16px;
  font-size: 36px
}

.time[data-v-d2b698c8] {
  position: relative;
  top: 280px;
  left: 125px;
  width: 150px;
  height: 150px;
  border-top: 2px solid #fff;
  border-radius: 50%;
  animation: rond-data-v-d2b698c8 1.8s infinite linear
}

.time-display[data-v-d2b698c8] {
  text-shadow: 0 0 15px #000, 0 0 15px #000;
  position: relative;
  top: 195px;
  line-height: 20px;
  left: 125px;
  width: 150px;
  height: 91px;
  color: #fff;
  font-size: 36px;
  text-align: center
}

.actionbox[data-v-d2b698c8] {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  bottom: 70px;
  left: 0;
  right: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.action[data-v-d2b698c8] {
  height: 100px;
  width: 100px;
  border-radius: 50%
}

.raccrocher[data-v-d2b698c8] {
  background-color: red
}

.deccrocher[data-v-d2b698c8] {
  background-color: #43a047
}

.disable[data-v-d2b698c8] {
  background-color: #4d4d4d
}

.action svg[data-v-d2b698c8] {
  width: 60px;
  height: 60px;
  margin: 20px;
  fill: #eee
}

@keyframes rond-data-v-d2b698c8 {
  0% {
    rotate: 0deg
  }
  to {
    rotate: 1turn
  }
}

.number[data-v-0570365f] {
  margin-top: 140px;
  width: 100%;
  height: 52px;
  font-size: 26px;
  line-height: 52px;
  text-align: right;
  padding-right: 8px;
  border-bottom: 1px solid silver;
  margin-bottom: 8px;
  box-shadow: 0 -6px 12px 0 hsla(0, 0%, 74%, .4)
}

.keyboard[data-v-0570365f] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%
}

.key[data-v-0570365f] {
  position: relative;
  -ms-flex: 1 1 33.33%;
  flex: 1 1 33.33%;
  text-align: center;
  height: 96px
}

.key-select[data-v-0570365f]:after {
  content: "";
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  display: block;
  width: 90px;
  height: 90px;
  background: radial-gradient(rgba(0, 0, 0, .04), rgba(0, 0, 0, .16));
  border-radius: 50%
}

.key-primary[data-v-0570365f] {
  display: block;
  font-size: 36px;
  color: blue;
  line-height: 22px;
  padding-top: 36px
}

.keySpe .key-primary[data-v-0570365f] {
  color: #2c3e50;
  line-height: 96px;
  padding: 0
}

.key-secondary[data-v-0570365f] {
  text-transform: uppercase;
  display: block;
  font-size: 12px;
  color: #000;
  line-height: 12px;
  padding-top: 6px
}

.call[data-v-0570365f] {
  margin-top: 18px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center
}

.call-btn[data-v-0570365f] {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: rgba(67, 160, 71, .7)
}

.call-btn.active[data-v-0570365f] {
  background-color: #43a047
}

.call-btn svg[data-v-0570365f] {
  width: 50px;
  height: 50px;
  margin: 10px;
  fill: #eee
}

.splash[data-v-5fdffa03] {
  width: 100%;
  height: 100%;
  background-color: #20201d;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center
}

img[data-v-5fdffa03] {
  width: 80px;
  animation-name: zoom-data-v-5fdffa03;
  animation-duration: .7s;
  animation-fill-mode: forwards
}

@keyframes zoom-data-v-5fdffa03 {
  0% {
    width: 80px
  }
  to {
    width: 250px
  }
}

.list[data-v-3967a7e3] {
  height: 100%
}

.title[data-v-3967a7e3] {
  padding-top: 22px;
  padding-left: 16px;
  height: 54px;
  line-height: 34px;
  font-weight: 700;
  background-color: #0;
  color: #fff
}

.elements[data-v-3967a7e3] {
  height: calc(100% - 54px);
  overflow-y: auto;
  background-color: #20201d;
  color: #a6a28c
}

.element[data-v-3967a7e3] {
  height: 42px;
  line-height: 42px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative
}

.elem-title[data-v-3967a7e3] {
  margin-left: 6px;
  font-size: 20px;
  text-transform: capitalize;
  transition: .15s
}

.elem-title .diese[data-v-3967a7e3] {
  color: #60ac39;
  font-size: 22px;
  font-weight: 700;
  line-height: 40px
}

.element.select[data-v-3967a7e3] {
  background-color: #ffc629;
  color: #000
}

.element.select .elem-title[data-v-3967a7e3] {
  margin-left: 12px
}

.element.select .elem-title .diese[data-v-3967a7e3] {
  color: #5e0576
}

.elements[data-v-3967a7e3]::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #f5f5f5
}

.elements[data-v-3967a7e3]::-webkit-scrollbar {
  width: 3px;
  background-color: transparent
}

.elements[data-v-3967a7e3]::-webkit-scrollbar-thumb {
  background-color: #ffc629
}

.elements[data-v-15f3ee32] {
  height: calc(100% - 56px);
  background-color: #20201d;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 12px;
  overflow-y: auto
}

.element[data-v-15f3ee32] {
  color: #a6a28c;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  display: -ms-flexbox;
  display: flex
}

.time[data-v-15f3ee32] {
  padding-right: 6px;
  font-size: 12px
}

.message[data-v-15f3ee32] {
  width: 100%;
  color: #ffc629
}

.tchat_write[data-v-15f3ee32] {
  height: 56px;
  widows: 100%;
  background: #20201d;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center
}

.tchat_write input[data-v-15f3ee32] {
  width: 75%;
  margin-left: 6%;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 3px 5px;
  float: left;
  height: 36px;
  background-color: #00071c;
  color: #fff
}

.tchat_write input[data-v-15f3ee32]::-webkit-input-placeholder {
  color: #ccc
}

.tchat_write input[data-v-15f3ee32]:-ms-input-placeholder {
  color: #ccc
}

.tchat_write input[data-v-15f3ee32]::placeholder {
  color: #ccc
}

.tchat_send[data-v-15f3ee32] {
  width: 32px;
  height: 32px;
  float: right;
  border-radius: 50%;
  background-color: #5e0576;
  margin-right: 12px;
  margin-bottom: 2px;
  color: #fff;
  line-height: 32px;
  text-align: center
}

.elements[data-v-15f3ee32]::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #a6a28c
}

.elements[data-v-15f3ee32]::-webkit-scrollbar {
  width: 3px;
  background-color: transparent
}

.elements[data-v-15f3ee32]::-webkit-scrollbar-thumb {
  background-color: #ffc629
}

.element[data-v-4d7b8c36] {
  height: 58px;
  line-height: 58px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative
}

.element .fa[data-v-4d7b8c36] {
  color: #27ae60;
  margin-left: 6px;
  height: 52px;
  width: 52px;
  text-align: center;
  line-height: 52px
}

.element-content[data-v-4d7b8c36] {
  display: block;
  height: 58px;
  width: 100%;
  margin-left: 6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-pack: center;
  justify-content: center
}

.element-title[data-v-4d7b8c36] {
  display: block;
  margin-top: 4px;
  height: 22px;
  line-height: 22px;
  font-size: 20px
}

.element-value[data-v-4d7b8c36] {
  display: block;
  line-height: 16px;
  height: 8px;
  font-size: 16px;
  color: gray
}

.element.select[data-v-4d7b8c36] {
  background-color: #ddd
}

.screen[data-v-821f15d4] {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 18px;
  background-color: #fff
}

.title[data-v-821f15d4] {
  padding-left: 16px;
  height: 34px;
  line-height: 34px;
  font-weight: 700;
  color: #fff;
  background-color: #4caf50
}

.elements[data-v-821f15d4] {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -ms-flex-pack: center;
  justify-content: center
}

.hr[data-v-821f15d4] {
  width: 100;
  height: 4px;
  margin-top: 4px;
  background-color: #ffffff
}

.logo_maze[data-v-821f15d4] {
  width: 100%;
  height: auto;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.element-content[data-v-821f15d4] {
  margin-top: 24px;
  display: block;
  height: 40px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #000000
}

.screen[data-v-5d567654] {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.title[data-v-5d567654] {
  padding-left: 16px;
  height: 34px;
  line-height: 34px;
  font-weight: 700;
  color: #fff;
  background-color: #4caf50
}

.elements[data-v-5d567654] {
  height: calc(100% - 34px);
  overflow-y: auto
}

.element[data-v-5d567654] {
  height: 56px;
  width: 100%;
  line-height: 56px;
  display: -ms-flexbox;
  display: flex;
  position: relative
}

.element.select[data-v-5d567654] {
  background-color: #ddd
}

.element .fa[data-v-5d567654] {
  color: #2e7d32;
  font-size: 18px;
  margin-left: 6px
}

.element .fa-arrow-down[data-v-5d567654] {
  color: #c62828
}

.element .fa-arrow-right[data-v-5d567654] {
  color: #1565c0
}

.elem-libelle[data-v-5d567654] {
  padding-left: 6px;
  -ms-flex: 1;
  flex: 1;
  font-size: 22px;
  white-space: nowrap
}

.elem-price[data-v-5d567654] {
  text-align: center;
  width: 90px;
  font-size: 18px;
  font-weight: 700
}

.elem-difference[data-v-5d567654] {
  text-align: center;
  width: 60px;
  font-size: 14px
}

.post[data-v-6a46c302] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column
}

.post .post-title[data-v-6a46c302] {
  padding-left: 12px;
  font-size: 18px;
  height: 18px;
  overflow: hidden
}

.post .post-content[data-v-6a46c302] {
  display: -ms-flexbox;
  display: flex;
  width: 390px;
  height: 670px
}

.post .post-image[data-v-6a46c302],
.post .post-video[data-v-6a46c302] {
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto
}

.loading[data-v-6a46c302] {
  height: 100%;
  background-color: #000;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center
}

.loading div[data-v-6a46c302] {
  text-align: center;
  margin-bottom: 36px
}
