@font-face
{
	font-family: "Times New Roman", Times, serif;
    /*font-family: gravity;
    src: url(../fonts/gravity.otf);*/
}

@keyframes slideright {
    0%   {margin-left:0px}
    100% {margin-left:110% }
}
@keyframes zoomin {
    0% {width:100%;height: 100%; opacity: 0.3}
    50% {width: 300%;height: 300%;opacity: 0}
    100% {width:100%;height: 100%;opacity:0.3}
}

body
{
    overflow: hidden;
    background-color: rgb(30,30,30);
    box-shadow: 0 0 500px rgba(0,1,1,1) inset;
    background-color: rgb(30,30,30);
    margin: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#background
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.3;
    transition: opacity 1s;
}
#background2 {
    opacity:0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity:0;
    transition: opacity 1s;
}
.slideright {
    animation-name: slideright;
    animation-duration: 3.2s;
}

.zoomin
{

    animation-name: zoomin;
    animation-duration: 4.2s;
    justify-content: center;


}

*
{
    font-family: gravity;
    color: #ee7000;
	text-shadow: 2px 2px 1px black;
    animation-name: hammer;
    animation-duration: 10s;
}

@keyframes logo-anim {
	from{ transform: rotate(90deg) scale(.1, .1); }
	to{ transform: scale(1, 1); }
}

#logo
{
	display: block;
    margin: auto;
	
	animation-name: logo-anim;
	animation-duration: 1.3s; 
}

.content-container
{
    display: block;
    margin: auto;

    width: 60%;
}

/*
    Progressbar styling.
*/

@keyframes content-anim {
	from{ width: 0%; }
	to{ width: 100%; }
}

progress
{
    margin-top: 5px;
	
	animation-name: content-anim;
	animation-duration: 2.0s; 
}

progress[value]
{
   -webkit-appearance: none;
   appearance: none;

   width: 100%;
   height: 30px;
}

progress[value]::-webkit-progress-bar
{
  background-color: rgb(60,60,60);
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value
{
    animation-name: example;
    animation-duration: 10s;
    animation-play-state: running;
    border-radius: 20px;
    background-size: 60px 30px, 100% 100%, 100% 100%;
}

.pbCollapse
{
    width: 24.63% !important

}

/*
    General purpose classes.
*/
.stick-to-right
{
    float:right;
}

.hide
{
    display: none;
}

.loading-text
{
    display: inline-block;
}

/*
    Messages styling + fade in and fadeout animations
*/
#message
{
    opacity:1;
    transition: opacity 0.3s;
}

/*
    Music player styling.
*/
#music-info
{
    padding:20px;
}

#player
{
    display: none;
}

#now-playing
{
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}

.icon-button
{
    color: #ee7000;
    font-size: 24px;
    display: inline-block;
    padding-top: 10px;

}

#volumeSlider
{
    width: 200px;
    height: 15px;
    -webkit-appearance: none;
    background: rgba(255,255,255,0.1);
    outline: none;
    position: absolute;
    margin-top: 15px;
    margin-left: 10px
}

#volumeSlider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    width: 10px;
    height: 25px;
    background: white;
}

#cursor
{
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

#log
{
    list-style-type: none;
    font-size: 0.66em;
    margin: 0;
    padding-right: 10px;
    padding-bottom: 10px;
    position:fixed;
    right:0;
    bottom:0;
}

#log > li
{
    color: red;
}
