/* Color for single progressbar. */
#pb0::-webkit-progress-value
{
    background: #ee7a00;
}

/* Color for multiple progressbars, #1 */
#pb1::-webkit-progress-value
{
    background-color: #ee7000;
}

/* Color for multiple progressbars, #2 */
#pb2::-webkit-progress-value
{
    background-color: #ee6f00;
}

/* Color for multiple progressbars, #3 */
#pb3::-webkit-progress-value
{
    background-color: #ee6000;
}

/* Color for multiple progressbars, #4 */
#pb4::-webkit-progress-value
{
    background-color: #ee5f00;
}

/* Color for multiple progressbars, #5 */
#pb5::-webkit-progress-value
{
    background-color: #ee5000;
}