* {
	margin: 0;
	padding: 0;
}
html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
}
@font-face {
	font-family: 'GTA';
	src: url(fonts/GTA.woff);
}
@font-face {
	font-family: 'bankgothic';
	src: url(fonts/bankgothic.ttf);
}
.ogrp_console {
	display: block;
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 400px;
	color: red;
	font-weight: bold;
}

/*
pink- https://i.imgur.com/JI1xVcT.png  
gold- https://i.imgur.com/YdTxEhu.png
blue- https://i.imgur.com/P8WaLFM.png
silver- https://i.imgur.com/hOOcpcr.png
black- https://i.imgur.com/BLfzlXK.png (default)
change the background-image:
*/

.ogrp_mainMenu {
  background: rgba(0,0,0,0.75);
  color: #fff;
  width: 225px;
  float: left;
  margin-top: 210px;
  min-height: 405px;
  text-align : center;
  box-shadow:0px 0px 19px 0px rgba(0,0,0,0.24);
  -webkit-box-shadow:0px 0px 19px 0px rgba(0,0,0,0.24);
  -moz-box-shadow:0px 0px 19px 0px rgba(0,0,0,0.24);
  position : absolute;
  margin-left: 15px;
  text-aling: center;
  border-radius: 10px;
}
.ogrp_menuHeader {
	background-color: rgb(44, 189, 247);
	overflow: auto;
	font-family: 'Unica One', cursive;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding: 6px;
	border: 1px solid #000000;
	box-shadow: inset -1px -1px 60px 0px rgba(0,0,0,1);
}
.ogrp_menuChoices {
	display: block;
	overflow: auto;
	height: 366px;
}
.ogrp_menuChoices::-webkit-scrollbar {
	display: none;
}
.ogrp_menuChoice {
	display: block;
	padding: 10px;
	font-size: 16px;
	font-family: 'GTA';
	line-height: 24px;
	height: 24px;
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	text-align: left;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}
.ogrp_MenuChoiceSelected {
  background: #1f1f1f;
  border-left: 5px solid #d69319;
  font-size: 14px;
  text-align: left;
}
.ogrp_menuDescription {
  background: rgba(0,0,0,0.75);
  color: #fff;
  position: absolute;
  padding: 9px;
  font-size: 14px;
  max-width: 350px;
  max-height: 250px;
  border-radius: 10px;
}
.ogrp_menuDescriptionContent {
	display: block;
	max-width: 350px;
	text-align: left;
	font-family: 'Unica One', cursive;
	font-size: 15px;
	color: white;
	font-weight: bold;
}

/* progress bar */
.progressbar{
position: absolute;
}

.progressbar .inner{
}

.progressbar .label{
position: absolute;
color: white;
font-weight: bold;
text-align: center;
text-shadow: 2px 2px black;
}

to

/* progress bar */
.progressbar{
position: absolute;
padding-top:3.45px;
padding-bottom:3.45px;
}

@media only screen and (max-width: 1366px) {
.progressbar{
position: absolute;
padding-top:2.3px;
padding-bottom:2.3px;
}
}

.progressbar .inner{
}

.progressbar .label{
position: absolute;
color: white;
font-weight: bold;
text-align: center;
text-shadow: 2.2px 2.2px black;
}

/* wprompt */
.wprompt{
  position: absolute;
  background: rgba(0,0,0,0.75);
  box-shadow:0px 0px 19px 0px rgba(0,0,0,0.24);
  -webkit-box-shadow:0px 0px 19px 0px rgba(0,0,0,0.24);
  -moz-box-shadow:0px 0px 19px 0px rgba(0,0,0,0.24);
  color: white;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.wprompt h1{
  font-size: 15px;
  font-weight: 400;
  padding: 7px;
}

.wprompt textarea{
  outline: none !important;
  background-color: rgba(0,0,0,0.75);
  border: 1px solid rgba(255,255,255,0.30);
  flex: 1;
  color: white;
  width: 100%;
  padding: 4px;
  resize: none;
  box-sizing: border-box;
}

.wprompt textarea:focus{
  outline: none !important;
}

.wprompt .help{
  font-size: 0.9em;
  font-style: italic;
  padding: 3px;
}

/* request manager */
.request_manager{
  position: absolute;
  bottom: 50px;
  right: 10px;
  text-align: right;
  font-family: Roboto;
}

.request_manager div{
  margin-top: 10px;
}

.request_manager div > span{
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0.50);
  padding: 4px;
}

.request_manager .yes{
  padding-left: 15px;
  color: rgb(110,204,111);
  font-size: 1em;
}

.request_manager .no{
  color: rgb(219,70,70);
  font-size: 1em;
}

/* announce */

.announce{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 780px;
  height: 130px;
  padding: 10px;
  margin-left: -400px;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: 2px 2px black;
  color: white;
  display: none;
  opacity: 0.90;
}

